body{
    font-family:Arial,sans-serif;
    margin:0;
    background-color: #f4f4f4;
    color: #333;
}
header,footer{
    text-align:center;
    background-color: #222;
    color: white;
    padding:15px 0;
}
nav{
    text-align:center;
    background-color: #444;
    padding: 10px 0;
}
nav a{
    color:white;
    text-decoration:none;
    margin:0 10px;
    font-weight:bold;
}
nav a:hover{
    text-decoration: underline;
}
main{
    padding: 20px;
    max-width:800px;
    margin: auto;
}
section{
    background-color: #fff;
    padding: 20px;
    margin-bottom:20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
footer p{
    margin:0;
    font-size:14px;
}
/*contact Form Styling*/
 from{
    display:flex;
    flex-direction:column;
    max-width:500px;
    margin:0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
 }
     label { 
  font-weight: bold; 
  margin-top: 10px; 
  color: #333;
     }
     input,textarea{
        padding: 10px;
        margin-top:5px;
        border:1px solid#ccc;
        border-radius:5px;
        font-family:inherit;
     }
     textarea{
        resize:vertical;
        min-height:100px;
     }
     button { 
  margin-top: 15px; 
  padding: 10px; 
  background-color: #222; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  transition: 0.3s;
     }
     button:hover{
        background-color: #555;
     }

